<div class="wrapper">
  <aside class="main_sidebar">
    <ul>
      <li>
        <i>
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="home"
          ></mat-icon> </i
        ><a href="/dashboard">DashBoard</a>
      </li>
      <li>
        <i>
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="group"
          ></mat-icon> </i
        ><a href="/student">Student</a>
      </li>
      <li>
        <i>
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="library_books"
          ></mat-icon> </i
        ><a href="/course">Course</a>
      </li>
      <li>
        <i>
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="supervised_user_circle"
          ></mat-icon> </i
        ><a href="/enrollment">Enroll Management</a>
      </li>
      <li>
        <i>
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="contacts"
          ></mat-icon></i
        ><a href="/attendance">Attendance Tracking</a>
      </li>
      <li>
        <i>
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="payment"
          ></mat-icon> </i
        ><a href="/payment">Payment Tracking</a>
      </li>
      <li>
        <i>
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="check_circle"
          ></mat-icon> </i
        ><a href="/test-result">Test Result</a>
      </li>
      <li>
        <i>
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="brightness_4"
          ></mat-icon> </i
        ><app-theme-toggle></app-theme-toggle>
      </li>
    </ul>
  </aside>
</div>
