<div class="wrapper">
  <aside class="main_sidebar">
    <ul>
      <li><i class="fa fa-arrows"></i><a href="/dashboard">DashBoard</a></li>
      <li><i class="fa fa-battery-2"></i><a href="/student">Student</a></li>
      <li class="active">
        <i class="fa fa-bell"></i><a href="/course">Course</a>
      </li>
      <li>
        <i class="fa fa-bicycle"></i><a href="/enrollment">Enroll Management</a>
      </li>
      <li>
        <i class="fa fa-circle"></i
        ><a href="/attendance">Attendance Tracking</a>
      </li>
      <li>
        <i class="fa fa-crosshairs"></i><a href="/payment">Payment Tracking</a>
      </li>
      <li><i class="fa fa-deaf"></i><a href="/test-result">Test Result</a></li>
    </ul>
  </aside>
  <div class="mian">
    <h1>Prakash</h1>
  </div>
</div>
